/* SDK Document */

vd-document::part(instructions_slide_box_title) {
    color: black;
}

vd-document::part(instructions_slide_button) {
    background-color: #039BE5;
}

vd-document::part(review_image_message_buttons_repeat) {
    background-color: #FFFFFF;
    color: #039BE5;
    border-style: solid;
    border-color: #039BE5;
}      


vd-document::part(review_image_message_buttons_continue) {
    background-color: #039BE5;
    color: #FFFFFF;
}   

vd-document::part(instructions_slide_button) {
    background-color: #039BE5;
}

vd-document::part(instructions_slide_button_prev) {
    color: #039BE5;
}

vd-document::part(instructions_slide_button_next	) {
    color: #039BE5;
}

vd-document::part(instructions_slide_dots	) {
    background: #039BE5;
}

